$dark-black: #000000;
$white: #ffffff;
$dark-green: #2a8b03;
$light-green: #16b816;
$vlight-grey: #f4f4f4;
$light-grey: #dedede;
$dark-grey: #40433f;
$hdark-grey: #838383;
$yellow: #ffb400;
$brown: #5d350c;
