.faq {
  min-height: 500px;
  background-image: url(../images/faqpage/faq-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flexcenter;
  h2 {
    font-size: 50px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 992px) {
  .faq {
    h2 {
      text-align: center;
    }
  }
}
@media screen and (max-width: 540px) {
  .faq {
    h2 {
      font-size: 35px;
      text-align: center;
    }
  }
}
.faqask {
  min-height: 650px;
  @include flexcenter;
  @include paddingtb;
  h2 {
    font-size: 35px;
    font-weight: 600;
    color: $dark-black;
    text-align: center;
    text-transform: uppercase;
  }
  h3 {
    font-size: 25px;
    font-weight: 600;
    color: $hdark-grey;
    text-align: center;
    text-transform: uppercase;
  }
  .hbline {
    width: 80px;
    min-height: 3px;
    background-color: $dark-green;
    margin: 0 auto;
    display: block;
  }
  .accordion-item {
    button {
      font-size: 20px;
      font-weight: 600;
      color: $dark-grey;
      text-transform: uppercase;
    }
    .accordion-body {
      font-size: 16px;
      font-weight: 400;
      color: $dark-grey;
    }
  }
}
@media screen and (max-width: 540px) {
  .faqask {
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .accordion-item {
      button {
        font-size: 17px;
      }
      .accordion-body {
        font-size: 14px;
      }
    }
  }
}
