@import "./fonts";
@import "./mixin";
@import "./header";
@import "./slider";
@import "./colors";
@import "./button";
@import "./footer";
@import "./home";
@import "./about";
@import "./blog";
@import "./partners";
@import "./news";
@import "./products";
@import "./services";
@import "./labtest";
@import "./faq";
@import "./returnpolicy";
@import "./wholesale";
@import "./contact";
@import "./signup";
@import "./signin";
@import "./cart";
@import "./sidesocial";

.adheader {
  background-color: $white !important;
  padding: 10px 0px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 100px;
    background-color: $vlight-grey;
    border: none;
    border-radius: 50px;
  }
  button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
  }
}
.sidebar {
  width: 100%;
  height: 100% !important;
  background-color: $dark-green;

  li {
    list-style: none;
    padding: 15px 0px;
    border-bottom: 1px solid $white;
    font-size: 18px;
    text-transform: capitalize;
    a {
      color: $white;
      text-decoration: none;
      padding-left: 25px;
      i {
        font-size: 22px;
        padding-right: 10px;
      }
    }
  }
}
.breadcrumb {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 1rem;
  border-radius: 8px;
}

.breadcrumb {
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      display: flex !important;
    }
  }
}

.breadcrumb ul li:first-child {
  opacity: 0.5;
}
.greybg {
  width: 100%;
  height: 100%;
  background-color: $vlight-grey;
  .cbox {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px 40px;
    h3 {
      font-size: 35px;
      font-weight: 700;
      color: $dark-green;
      text-align: center;
      text-transform: uppercase;
    }
    .hbline {
      width: 50px;
      min-height: 3px;
      margin: 0 auto;
      background-color: $dark-green;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: $hdark-grey;
      padding-right: 40px;
    }
    input {
      width: 100%;
      min-height: 44px;
      margin: 10px 0px;
      padding-left: 20px;
      background-color: $vlight-grey;
      border: 1px solid $light-grey;
    }
    button {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: $white;
      border-radius: 50px;
      padding: 10px 30px;
      border: none;
      margin-top: 20px;

      background-color: $light-green;
      transition: 0.5s all ease-in-out;
      i {
        margin-left: 7px;
      }
      &:hover {
        margin-left: 20px;
      }
    }
  }
}
.pbox {
  background-color: $white;
  padding: 10px 20px;
  border: 2px solid $light-green;
  h4 {
    font-size: 30px;
    color: $dark-green;
    font-weight: 800;
  }
  h5 {
    font-size: 22px;
    color: $dark-black;
    text-transform: uppercase;
    font-weight: 700;
  }
  p {
    font-size: 18px;
    color: $hdark-grey;
    text-transform: uppercase;
  }
}
